# PostgreSQL Configuration
POSTGRES_USER=XXXXXXXXXXX
POSTGRES_PASSWORD=XXXXXXXXXXX
POSTGRES_DB=XXXXXXXXXXX

POSTGRES_NON_ROOT_USER=XXXXXXXXXXX
POSTGRES_NON_ROOT_PASSWORD=XXXXXXXXXXX

# Supabase Configuration
NEXT_PUBLIC_SUPABASE_URL=XXXXXXXXXXX
NEXT_PUBLIC_SUPABASE_ANON_KEY=XXXXXXXXXXX

DATABASE_URL=XXXXXXXXXXX
SUPABASE_DB_PASSWORD=XXXXXXXXXXX